// the colors that are used partly in the default settings from lewagon
$light-gray: gray;
$gray: gray;
$blue:blue;
$green:green;
$yellow:yellow;
$red:red;
$orange:orange;



// our colors!

$light-green: #2C786C;
$dark-green: #004445;
$calm-yellow: #F8B400;
$beige: #FAF5E4;

