.booking-new {
	margin-top: 100px;
}

.booking-title {
	font-size: 50px;
	font-family: 'Cardo', "serif";
	text-align: center;
}

.booking-question {
  height: 100vh;
  text-align: center;
}

.number_of_plants_question {

}

.slider {
	background: red;
}

