
.price-tag {
	color: black;
	font-weight: bold;
	font-family: $body-font;
	font-size: 40px;
}

.booking-title-box {
	background-color: $beige;
    position: fixed;
    z-index: 3;
    margin-top: -200px;
    padding-top: 40px;
    width: 1100px;
    padding-bottom: 0px;
	.background-price {
		margin-left: 800px;
		margin-top: -40px;
		.fa-info-circle {
			color: #b8dbd8;
			font-size: 30px;
			margin: 0px -20px 0px 0px;
		}
	}
	h2 {
		font-size: 50px !important;
		margin-left: 22%;
	}
	.barre {
		width: 50%;
		margin-left: 0%;
		margin-top: -3.4%;
	}
}

.booking-question {
	height: 50vh;
	width: 700px;
	margin: auto;
	text-align: center;
	.form-check {
		background-color: #e5e0cc;
		text-align: left;
		padding: 5px 50px;
		border-radius: 10px;
		margin: 0 auto;	
	}
	&.last-element {
		height: auto;
	}
	iframe {
		border-radius: 10px;
	}
}

.question {
	margin-top: 180px;
	font-size: 20px;
}

.slider {
	margin-top: 80px;
}

.next,
.next:hover {
	text-align: right;
	margin-left: 700px;
	color:  #004445;
	text-decoration: none;
	border: none;
	background: none;
	button {
		border: none;
	}
}

.margin-below {
	margin-bottom: 80px;
}

.margin-ontop {
	margin-top: 80px;
}

.fa-info-circle {
	color: #c1bba4;
	font-size: 20px;
}

#key {
	margin-bottom: 10%;
}
/****************** CHECKBOXES *******************/


/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}