
.price-tag {
	color: black;
	font-weight: bold;
	font-family: $headers-font;
	font-size: 40px;
}

.booking-title-box {
	background-color: $beige;
    position: fixed;
    z-index: 3;
    margin-top: -200px;
    padding-top: 40px;
    width: 1000px;
    padding-bottom: 0px;
	.background-price {
		margin-left: 800px;
		margin-top: -40px;
	}
	h2 {
		font-size: 50px !important;
		margin-left: 9%;
	}
	.barre {
		width: 50%;
		margin-left: -10%;
	}
}

.booking-question {
	height: 80vh;
	width: 700px;
	margin: auto;
	text-align: center;
	.form-check {
		background-color: #e5e0cc;
		text-align: left;
		padding: 5px 50px;
		border-radius: 10px;
		margin: 0 auto;	
	}
	&.last-element {
		height: auto;
	}
}

.question {
	margin-top: 180px;
	font-size: 20px;
}

.slider {
	margin-top: 80px;
}

.next,
.next:hover {
	text-align: right;
	margin-left: 700px;
	color:  #004445;
	text-decoration: none;
	border: none;
	background: none;
	button {
		border: none;
	}
}

.margin-below {
	margin-bottom: 80px;
}

.margin-ontop {
	margin-top: 80px;
}





