<div class="booking-new">

	<div class="booking-title-box">
		<div class="box-title">
        	<h2 >Choose your plantcare</h2>
       	 	<p class="barre">.</p>
      	</div>

		<div class="background-price d-flex">
			<div class="finalprice price-tag">
				15.99 €
			</div>

	    	<!-- Button trigger modal -->
	    	<button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-info-circle"></i></button>

		</div>
	</div>

	<div class="booking-options">
		<div class="booking-option">
			<%= render "shared/booking-form" %>
		</div>
	</div>
</div>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content extras-details">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">How it works?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
        <div class="modal-body extras-details">
			<ul>
				<li><strong>How many plants do you have?</strong>Select the number of plants you have. Our base price per 5 plants is 2,99EUR.</li><br>
				<li><strong>Choose your the days your plants need to be watered!</strong>Pick the days that you want your plants to be watered.</li><br>
				<li><strong>How do you want to handle your house key?</strong>Choose the most comfortable way of how we can access your home. We have a 100%-trust-policy . You can give the keys to the Späti-of-trust or bring it to our Key-safety-locks.</li><br>
				<li><strong>Would you like to book some extra services?</strong>The extras selected are done one time during the booking.</li>
			</ul>
        </div>
      </div>
    </div>
  </div>
