<div class="container booking-new my-5">

	<p class="booking-title">Design your Plantcare!</p>

	<div class="booking-options">

		<div class="booking-option">

			<%= render "shared/booking-form" %>
			
		</div>
	</div>
</div>