<div class="container booking-new my-5">

	<div class="booking-title-box">
		<p class="booking-title">Design your Plantcare!</p>
		<%= render "shared/underline" %>
		<div class="background-price">	
			<div class="finalprice price-tag">
				29.99 €
			</div>
		</div>
	
	</div>

	<div class="booking-options">
		<div class="booking-option">
			<%= render "shared/booking-form" %>
		</div>
	</div>
</div>