<div class="container">
  <!-- <div class="row" style="height: 70vh" > -->
  <!-- <div class="row" style="height: 50vh" > -->
  <div class="row">
    <!-- <div class="col border-3 mb-2 ml-2 mr-2"> -->
      <!-- <div class="card" style="width: 18rem;"> -->
      <div class="col-sm-6 col-md-6 col-lg-4 ">
        <div class="card rounded p-0 card-dynamic pos-relative">
          <%= image_tag "Monstera_1.jpeg", class: "card-img-top rounded", height: "100%"%>
          <!-- <img src="Monstera_5.jpeg" class="card-img-top" alt="Plant"> -->
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go to plant</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 ">
        <div class="card rounded p-0 card-dynamic pos-relative">
          <%= image_tag "Monstera_5.jpeg", class: "card-img-top rounded", height: "100%"%>
          <!-- <img src="Monstera_5.jpeg" class="card-img-top" alt="Plant"> -->
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go to plant</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 ">
        <div class="card rounded p-0 card-dynamic pos-relative">
          <%= image_tag "Monstera_6.jpeg", class: "card-img-top rounded", height: "100%"%>
          <!-- <img src="Monstera_5.jpeg" class="card-img-top" alt="Plant"> -->
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go to plant</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4 ">
        <div class="card rounded p-0 card-dynamic pos-relative">
          <%= image_tag "Monstera_6.jpeg", class: "card-img-top rounded", height: "100%"%>
          <!-- <img src="Monstera_5.jpeg" class="card-img-top" alt="Plant"> -->
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go to plant</a>
          </div>
        </div>
      </div>


    <!-- </div> -->
  </div>
</div>
