<div class="container">

	<div class="card-deck">
		<div class="card card-key">
	 		<div class="card-key-img d-flex justify-content-center align-items-center" style="background-image: url('/assets/succulent.jpeg')">
	 			<h1 class="card-title">Späti</h1>
	 		</div>
	  		<div class="card-body ">
	    		<p class="card-text">Let your key at a nearby shop and let us know the address later.</p>
	  		</div>
	  	</div>

		<div class="card card-key">
	 		<div class="card-key-img d-flex justify-content-center align-items-center" style="background-image: url('/assets/succulent.jpeg')">
	 			<h1 class="card-title">PlantScape office</h1>
	 		</div>
	  		<div class="card-body ">
	    		<p class="card-text">Let your key at our Plantscape office. You can find the location in the About option.</p>
	  		</div>
	  	</div>

		<div class="card card-key">
	 		<div class="card card-key-img d-flex justify-content-center align-items-center" style="background-image: url('/assets/succulent.jpeg')">
	 			<h1 class="card-title">Other</h1>
	 		</div>
	  		<div class="card-body ">
	    		<p class="card-text">For any other option, please contact our customer service.</p>
	  		</div>
	  	</div>
	</div>

</div>