<footer>
  <div class="row">
      <div class="col col-sm-4 col-md-4 col-lg-4">
        <ul class="footer-nav justify-content-center">
          <li class="text-center">
            <a href="#">About us</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
          <li>
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="col col-sm-4 col-md-4 col-lg-4 justify-content-center copyright">
        <p>Copyright &copy; 2020 by the Plantscapers. All rights reserved.</p>
      </div>
      <div class="col col-sm-4 col-md-4 col-lg-4">
        <ul class="social-icons">
          <li><a href="#"><i class="fab fa-github"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
  </div>
</footer>
