<div class="container order-confirmation">
  <div class="box-title">
    <h2>Congrat's <%= current_user.first_name %>!</h2>
    <p>You're booking #<%= @order.id %> has been confirmed.</p>
    <p class="barre">.</p>
  </div>
  
  <div class="row mt-5 mb-5 mr-5">

      <p>What's next?</p>
      <%= link_to "My Bookings", dashboards_index_path, class: "btn btn-lg small-yellow-button shadow mb-5" %>

  </div>
</div>
