<div class="container order-confirmation">
  <div class="box-title">
    <h2>Booking confirmed!</h2>
    <p class="barre">.</p>
  </div>

  <h3><i>What's next?</i></h3>

 <div class="row mt-5">
    <div class="col-sm-6">
      <p>See your dashboard</p>
      <p>There you can see your upcoming and previous bookings. You can add some plants to give individual information on them or even contact the Plantscape-Team via Chat for help.</p>
      <%= link_to "My Dashboard", dashboards_index_path, class: "btn btn-lg small-yellow-button shadow mb-5" %>
    </div>

    <div class="col-sm-6">
      <p>Add some plants</p>
      <p>Your plants need special care? You need somebody to sing to it, dust it, repott it or even talk to it?</p>
      <p>Add the plants you have at home and give specific information about each plant to our gardeners!</p>
      <%= link_to "+ add a plant", dashboards_index_path, class: "btn btn-lg small-yellow-button shadow mb-5" %>
    </div>
  </div>
</div>