
<h1>REVIEWS</h1>
 <div class="row mt-4">
    <% @reviews.each do |rev| %>
      <div class=" reviews" style="width: 19rem;">
        <div class="mb-3 comment">
           <h5><strong><%= rev.title %></strong></h5>
           <i class="fas fa-quote-right mb-3"></i>
           <br><p><%= rev.comment %></p>
          <div class="qmark"><i class="fas fa-quote-left"></i></div>
        </div>
        <div class="rev-name d-flex justify-content-between">
          <div>
            <% if rev.rating == "1"%>
              <p><i class="fas fa-spa"></i> <i class="fas fa-spa grey"></i><i class="fas fa-spa grey"></i><i class="fas fa-spa grey"></i><i class="fas fa-spa grey"></i></p>
            <% elsif rev.rating == "2" %>
              <p><i class="fas fa-spa"></i><i class="fas fa-spa"></i><i class="fas fa-spa grey"></i><i class="fas fa-spa grey"></i><i class="fas fa-spa grey"></i></p>
            <% elsif rev.rating == "3" %>
              <p><i class="fas fa-spa"></i><i class="fas fa-spa"></i><i class="fas fa-spa"></i><i class="fas fa-spa grey"></i><i class="fas fa-spa grey"></i></p>
            <% elsif rev.rating == "4" %>
              <p><i class="fas fa-spa"></i><i class="fas fa-spa"></i><i class="fas fa-spa"></i><i class="fas fa-spa"></i><i class="fas fa-spa grey"></i></p>
            <% elsif rev.rating == "5" %>
              <p><i class="fas fa-spa"></i><i class="fas fa-spa"></i><i class="fas fa-spa"></i><i class="fas fa-spa"></i><i class="fas fa-spa"></i></p>
            <% end %>
           </div>
          <div><p> <%= rev.user.first_name %></p></div>
        </div>
      </div>
    <% end %>
  </div>
