
<!-- BANNER CONTAINER -->
<div class="container-fluid">
  <div class="banner">
      <div class="row p-5 text-center color-black">
        <!-- <br> -->
        <h1>We take your plants on vacation, while you are.</h1>
        <!-- <br> -->
        <!-- <h1 class="text-center">while you are.</h1> -->
        <!-- <br> -->
      <!--     <h3 class="color-black margin-bottom">Hire a plantsitter now!</h3> -->

        <%#= link_to "Hire a plantsitter", new_booking_path, class: "btn btn-lg yellow-button shadow px-5 py-3 mb-5" %>
      </div>
      <div class="row d-flex justify-content-center">
        <%= link_to "Hire a plantsitter", new_booking_path, class: "btn btn-lg yellow-button shadow" %>
      </div>
  </div>
</div>
<!-- CARD CONTAINER -->
<div class="container">
  <%#= render 'shared/card-plant-one' %>
  <div class="row mt-4">
      <% @plants.each do |plant| %>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
          <!-- CREATING THE CARD CONTAINER -->
          <div class="card card-plant-style card-dynamic pos-relative">
            <!-- TOP IMAGE part of CARD PLANT -->
            <div class="card-plant-img">
              <%= cl_image_tag plant.photo.key, class: "card-img-top rounded"%>
            </div>
            <!-- bottom part of CARD PLANT -->
            <div class="card-body">
              <h5 class="card-title text-center"><%= plant.name %></h5>
              <!-- card-text limites to lenght: 100 -->
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              <%= link_to "Go to plant", plant_path(plant), class:"btn yellow-button" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>



<!-- the next one is a test for cloudinary TEST FOR CLOUDINARY -->


