
<div class="banner">
  <div class="home-text">
    <br>
    <h1 class="color-black">We take your plants on vacation, while you are.</h1>
    <br>
    <h3 class="color-black margin-bottom">Hire a plantsitter now!</h3>
    <%= link_to "Book now!", new_booking_path, class: "btn btn-lg yellow-button shadow px-5 py-3 mb-5" %>
  </div>
</div>

<%= render 'shared/card-plant-one' %>

<%= cl_image_tag("ougbtgymhhubessgbtjp",width: 400, height: 300, crop: :fill) %>
