<div class="banner">
  <div class="home-text">
    <br>
    <h1 class="color-black">Plantscape</h1>
    <br>
    <h3 class="color-black margin-bottom">We take your plants on vacation while you are!</h3>
    <button class="btn yellow-button" href="#" type="button">Book now!</button>
  </div>
</div>
