<div class="container">

  <!-- the next is a ROW DIV for the PLANT IMAGE as Banner -->
  <div class="row mt-4">
    <div class="col">
      <!-- here I want an image -->

      <!-- here I want a black H1 title with a square white background -->
      <h1> YO <%= @plant.name %> </h1>

    </div>
  </div>
  <!-- the next is a ROW DIV for the PLANT ATTRIBUTE as Section-->
  <div class="row mt-4">

  </div>
  <!-- the next is a ROW DIV for the BUTTON to ADD the plant to the User Jungle Index or to create a Jungle -->
  <div class="row mt-4">

  </div>
</div>
