<div class="container">
  <h1 class="text-center">My Jungles</h1>
  <div class="text-right">
    <%= link_to "+ create new jungle", new_jungle_path, class: "btn small-yellow-button shadow mb-5 text-right" %>
  </div>
  <%= render "shared/card-jungles" %>
</div>