<div class="container">
  <h1 class="text-center">My Jungles</h1>
  <%= link_to "+ create new jungle", new_jungle_path, class: "btn btn-sm yellow-button shadow px-5 py-3 mb-5 text-right" %>
  <%= render "shared/card-jungles" %>
</div>