<div class="container mt-2 mb-2">
  <h1> You want to create your own jungle? </h1>
  <div class="position-line">
    <%= render "shared/underline" %>
  </div>
  <div class="row justify-content-center m-5">
    <div class="col-12">
        <br>
        <p class="text-center">Hey <%= current_user.first_name %> create a jungle that has all the plants you have!</p>
        <br>
        <div class="d-md-flex justify-content-md-between">
          <%= image_tag "jungle.jpg", class: "jungle-picture"%>
          <%= render "shared/new-jungle-form" %>
        </div> 
    </div>
  </div>
</div>
