.banner {
  background: linear-gradient(rgba($beige,0.01),rgba($beige,0.01)), asset-url("monster-light.png") center center;
  background-size: cover;
  position: relative;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  padding-left: 50px;
  padding-top: 10%;

  h1{
    font-size: 70px;
  }
}

.color-black {
  color: black;
}

.margin-bottom {
  margin-bottom: 50px;
}
