// -----BANNER-------

.banner {
  background: linear-gradient(rgba($beige,0.3),rgba($beige,0.01)), asset-url("newplant.jpg") center center;
  background-size: cover;
  /* position: relative; */
  /* background-position: bottom; */
  background-position: top;
  height: 100vh;
  padding-top: 10%;
  width: 100%;

  h1{
    font-size: 6vw  !important;
  }
}

.color-black {
  color: black;
}

.margin-bottom {
  margin-bottom: 50px;
}

.banner-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }




// ---------HOW IT WORKS------

.container-hiw {
  // min-height: 100vh;

   a {
  text-decoration: none;
  color: black;
  }
}


.hiw-cards {
  border-style: solid 10px;
  padding: 15px 15px 0px 15px;

  h5 {
    padding: 10px;
    font-size: 25px;
  }

  i {
    font-size: 40px;
    padding-top: 20px;
  }
}

// -------Review----------
.rev-point {

  a {
  text-decoration: none;

  #rev-point:hover {
    text-decoration: none

    }
  }
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #2C786C;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #2C786C;
}


// -------Team----------

.presentationphoto {
  border-radius: 50% !important;
}

