// -----BANNER-------

.banner {
  background: linear-gradient(rgba($beige,0.3),rgba($beige,0.01)), asset-url("newplant.jpg") center center;
  background-size: cover;
  /* position: relative; */
  /* background-position: bottom; */
  background-position: top;
  height: 100vh;
  padding-top: 10%;
  width: 100%;

  .banner-heading {

  }

  h1{
    font-size: 70px !important;
    // font-size: 8vw;
    text-align: right;
  }
}

.color-black {
  color: black;
}

.margin-bottom {
  margin-bottom: 50px;
}

.banner-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }




// ---------HOW IT WORKS------

.container-hiw {
  // min-height: 100vh;

   a {
  text-decoration: none;
  color: black;
  }
}


.hiw-cards {
  border-style: solid 10px;
  padding: 15px 15px 0px 15px;

  h5 {
    padding: 10px;
    font-size: 25px;
  }

  i {
    font-size: 40px;
    padding-top: 20px;
  }
}

// -------Review----------
.rev-point {

  a {
  text-decoration: none;

  #rev-point:hover {
    text-decoration: none

    }
  }
}
