.banner-plant-show {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 70vh;
  padding-left: 50px;
  padding-top: 10%;
}

.banner-plant-text {
  background-color: #FAF5E4;
}


.banner-plant-show-small {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 40vh;
  padding-left: 50px;
  padding-top: 10%;
}
