//adding media queries

//@media (min-width:900px){.card-dynamic {height: 50%}}
//@media screen and (min-width: 500px) and (max-width: 899px) {
//  .card-dynamic {
//  height: 30%
//  }
//}
//@media (max-width:499px){.card-dynamic {height: 50%}}

// adding scss class to cards

.card-plant-style {
  height: 100%;
  /* margin-bottom: 100px; */
  padding: 0px;
  border-radius: 5px;
  background: white;
  border:4px solid #e5e0cc;
  position: relative;
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-text {
    flex-grow: 1;
  }
}

.card-plant-img{
    overflow: hidden;
    /* min-height: 200px; */
    flex-shrink: 0;
    width: 100%;
    height: 300px;

  img{
    width: 100%;
    object-fit: cover;

  }
}

.card-plant-body{
  height: 200px;
}

.card-plant-title{
  height: 50%;
}

.link-style {

  a {
  color: black;
  text-decoration: none;

  }
}

.card-plant-style-hover:hover{
  margin-bottom: 5px;
  border:4px solid #F8B400;
  background-color: #004445;
  a {
    text-decoration: none;
  }
  h5 {
  color: white;
  }
}

.icon-status {
  background-color: #F8B400;
  padding: 5px;
  width: 50%;
  border-radius: 2px;
  top: 50%;
  transform: translateY(-50%);

}

.jp-overlay {
 position: absolute;
}






