.right-corner,
.right-corner:hover {
  position: absolute !important;
  right: 3%; top: -30%;
  border: none !important;
  text-decoration: none !important;
  a {
    border: none !important;
    text-decoration: none !important;
    z-index: 3;
  }
}

.color-beige,
.color-beige:hover {
  background-color: #dbd4bc !important;
  color: white;
}

.card-jungle {
  width: 700px;
  display: flex;
  align-items: center;
  margin-left: 200px;
}

.card-product {
  overflow: hidden;
  height: 180px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  img {
  	height: 100%;
  	width: 300px;
  	object-fit: cover;
	}
  h2 {
  	font-size: 16px;
  	font-weight: bold;
  	margin: 0;
  	}
  p {
  	font-size: 12px;
  	line-height: 1.4;
  	opacity: .7;
  	margin-bottom: 0;
  	margin-top: 8px;
	}
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-body {
	padding-left: 20px;
	padding-top: 0;
}

.card-title {
	font-size: 30px !important;
	font-weight: bold;
	color: black !important;
}

.card-text {
	font-size: 20px !important;
	font-weight: bold;
}