.text-area {
  width: 50%;;
}

.background-green {
  background-color: #b8dbd8;
  border-radius: 10px;
}


.green-border-left {
  background-color: white;
  border-left: 6px solid #004445;
  border-radius: 5px;
}

.scrollchat {
  margin: 10px auto;
  height: 40vh;
  width: 80%;
  background-color: #dbd4bc;
  border-radius: 10px;
  padding: 10px 0;
}

.message-container {
	margin: 10px 50px;

}

.chat-title {
	font-size: 50px !important;
	margin-left: -10%;
	.underline {
		height: 30px;
		width: 80%;
		margin-left: -42%;
		margin-top: -5%;
	}
}

.new-message {
  background-color: #dbd4bc;
  border-radius: 10px;
  padding: 15px 15px 0 15px;
  width: 80%;
  margin: 10px auto;
  .form-group {
      margin-left: 20px;
  }
}

.my-message {
    border-radius: 5px;
}

.form-control-file {
	color: white;
}

#message_content.form-control.string.optional {
    border-left: 6px solid #F8B400 ;
    border-radius: 5px;
}

#file-upload-button {
  background: blue;
  margin-left: 50px;
}

