.text-area {
  width: 50%;;
}

.background-green {
  background-color: #b8dbd8;
  border-radius: 10px;
}


.green-border-left {
  background-color: $beige;
  border-left: 6px solid #004445;
}

.form-control-file {
  
}