
// ******************** BANNER ********************

.dashboard-banner {
  // background: asset-url("banner-dashboard.jpg");
  position: relative;
  height: 30vh;
  padding-top: 5%;
  text-align: right;

  .under {
    margin-top: -3%;
    background-color: #F8B400;
  }

  .dashboard-headings {
    opacity: 0.8;
    color: black;
  }
}

// ******************** CONTAINERS ********************

.dashboard-page {
  width: 100%;
}


// ******************** MODAL ********************

.extras-details,
.modal.header {
  font-family: 'Josefin Sans', "sans-serif" !important;
  background-color: $beige;
}


// ******************** BOOKINGS TABLES ********************

.dashboard-bookings {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  width: 80%;
}


.bookings-head {
  background-color: $beige;
  border-bottom: 1px solid  $dark-green;
  border-radius:6px;
  box-shadow: $dark-green;
  opacity: 0.6;
  color: black;
  font-weight: 300;
  th {
    height: 50px;
  }
}

.bookings-body {
  background-color: $beige;
}

.past-bookings {
  p {
    font-size: 15px;
  }
}

// ******************** TOOLTIP ********************

.tooltipp {
  /* hide and position tooltip */
  display: none;
  background-color: white;
  color: black;
  border-radius: 5px;
  position: absolute;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  padding: 6px 0px;
}

.hover:hover .tooltipp {
  /* display tooltip on hover */
  display: block;
  opacity: 1;
  margin-top: -9%;
}


// ******************** JUNGLES ********************

td {
  text-align: center;
  justify-content: center;
}

.img-for-junglecards{
    height: 600px;
    object-fit: cover;
  }

.hover {
  position: relative;
}

.jungle {
  margin-top: 70px;
  h2 {
      padding-left: 0;
    }
  .barre {
    margin-top: -2.2%;
    z-index: 1;
    position: absolute;
    width: 60%;
    color: #004445;
    background-color: #004445;
    opacity: 0.6;
  }
}

.circle {
  border-radius: 50%;
  color:white;
  width: 80px;
  height: 80px; 
  background-color: #004445;
  opacity: 0.6;
  margin-left: 75%;
  margin-top: -80px;
  display: flex; /* or inline-flex */
  align-items: center; 
  justify-content: center;
}

/****************** Mobile *******************/
/****************** Mobile *******************/

  @media (max-width: 767px) {

    // ******************** BANNER ********************

  .dashboard-banner {
    // background: asset-url("banner-dashboard.jpg");
    position: relative;
    height: 5vh;
    text-align: right;

    h1 {
      font-size: 25px;
    }

    .under {
      height: 5vw;
      width: 80%;
      margin-top: -5%;
      background-color: #F8B400;
      margin-left: 20%;
    }
  }

  // ******************** CONTAINERS ********************

  .dashboard-page {
    width: 100%;
    h2 {
      z-index: 2;
      font-size: 6vw;
      position:relative;
      padding-left: 0;
      margin-left: 12%;
      color: black;
    }
    i {
      padding: 0px;
    }
    .barre {
      z-index: 1;
      position: absolute;
      margin-left: -10%;
      margin-top:-5%;
      width: 70%;
      color: #004445;
      background-color: #004445;
      opacity: 0.6;
    }
  }


  // ******************** MODAL ********************

  .extras-details,
  .modal.header {
    font-family: 'Josefin Sans', "sans-serif" !important;
    background-color: $beige;
  }


  // ******************** BOOKINGS TABLES ********************
  .dashboard-bookings {
    text-align: center;
    margin: auto;
    width: 100%;
  }


  .bookings-head {
    background-color: $beige;
    border-bottom: 1px solid  $dark-green;
    border-radius:6px;
    box-shadow: $dark-green;
    opacity: 0.6;
    color: black;
    font-weight: 300;
    th {
      height: 30px;
    }
  }

  .bookings-body {
    background-color: $beige;
  }

  // ******************** TOOLTIP ********************

  .tooltipp {
    /* hide and position tooltip */
    display: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    position: absolute;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    padding: 6px 0px;
  }

  .hover:hover .tooltipp {
    /* display tooltip on hover */
    display: block;
    opacity: 1;
    margin-top: -9%;
  }


  // ******************** JUNGLES ********************

  td {
    text-align: center;
    justify-content: center;
  }

  .img-for-junglecards{
      height: 600px;
      object-fit: cover;
    }

  .hover {
    position: relative;
  }

  .circle {
    border-radius: 50%;
    color:white;
    width: 80px;
    height: 80px; 
    background-color: #004445;
    opacity: 0.6;
    margin-left: 75%;
    margin-top: -80px;
    display: flex; /* or inline-flex */
    align-items: center; 
    justify-content: center;
  }

}
