
// ******************** BANNER ********************

.dashboard-banner {
  // background: asset-url("banner-dashboard.jpg");
  position: relative;
  height: 35vh;
  padding-left: 50px;
  padding-top: 5%;
  text-align: right;
  margin-bottom: 40px;

  .under {
    height: 50px;
    width: 80%;
    margin-left: 400px;
    margin-top: -3%;
    background-color: #F8B400;
  }

  .dashboard-headings {
    padding-right: 80px;
    opacity: 0.8;
    color: black;

    h1 {
      font-size: 50px;
    }

    h3 {
      text-align:center;
      padding-top: 80px;
    }
    .btn-lg, .btn-group-lg {
      font-size: 0.5rem !important;
    }
  }
}

// ******************** CONTAINERS ********************

.dashboard-page {
  width: 100%;
  h2 {
    font-size: 35px !important;
    z-index: 2;
    position:relative;
    width: 1000px;
    padding-left: 0;
    margin-left: 12%;
    color: black;
  }
  .back-button {
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 52%;
    background-color: #dbd4bc;
    z-index: 3;
  }
  i {
    padding: 0 5px;
  }
  .barre {
    z-index: 1;
    position: absolute;
    margin-left: -10%;
    margin-top: 1.7%;
    width: 40%;
    color: #004445;
    background-color: #004445;
    opacity: 0.6;
  }
}


// ******************** MODAL ********************

.extras-details,
.modal.header {
  font-family: 'Josefin Sans', "sans-serif" !important;
  background-color: $beige;
}


// ******************** BOOKINGS TABLES ********************

.dashboard-bookings {
  text-align: center;
}

table {
    width: 700px;
    margin: 40px 200px;
    border: 1px solid  #dbd4bc;
    border-radius:6px;
    -moz-border-radius:6px;
    background-color: white;
}

.bookings-head {
  background-color: white;
  opacity: 0.6;
  color: black;
  font-weight: 300;
  th {
    height: 50px;
  }
}

.bookings-body {
  background-color: white;
}

.booking-buttons {
    margin: 5px 200px;
  .back-button {
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0%;
    margin-left: 0%;
    background-color: #dbd4bc;
    z-index: 2;
    border-radius: 10px;
    margin-right: 10px;
  }
  .yellow-button {
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0%;
    margin-left: 0%;
  }
}

.past-bookings {
  p {
    font-size: 15px;
  }
}

// ******************** TOOLTIP ********************

.tooltipp {
  /* hide and position tooltip */
  display: none;
  background-color: white;
  color: black;
  border-radius: 5px;
  position: absolute;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  padding: 6px 0px;
}

.hover:hover .tooltipp {
  /* display tooltip on hover */
  display: block;
  opacity: 1;
  left: 180px;
  width: 200px;
  margin-top: -9%;
}


// ******************** JUNGLES ********************

.dashboard-jungles {
}
td {
  text-align: center;
  justify-content: center;
}
  .yellow-button {
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0%;
    margin-left: 18%;
  }

.img-for-junglecards{
    height: 600px;
    object-fit: cover;
    height: 200px;
  }

.hover {
  position: relative;
}

.jungle {
  margin-top: 70px;
  h2 {
      width: 40%;
      padding-left: 0;
    }
  .barre {
    margin-top: -2.2%;
    color: #004445;
    background-color: #004445;
  }
}
