.flatpickr-calendar.inline {
	background-color: $beige;
	border: none;
	box-shadow: none;
	margin: 0 auto;
	padding-top: 10px;
	z-index: 1;
}

	.flatpickr-calendar.inline {
	.flatpickr-day.selected, 
	.flatpickr-day.startRange, 
	.flatpickr-day.endRange, 
	.flatpickr-day.selected.inRange, 
	.flatpickr-day.startRange.inRange, 
	.flatpickr-day.endRange.inRange, 
	.flatpickr-day.selected:focus, 
	.flatpickr-day.startRange:focus, 
	.flatpickr-day.endRange:focus, 
	.flatpickr-day.selected:hover, 
	.flatpickr-day.startRange:hover, 
	.flatpickr-day.endRange:hover, 
	.flatpickr-day.selected.prevMonthDay, 
	.flatpickr-day.startRange.prevMonthDay, 
	.flatpickr-day.endRange.prevMonthDay, 
	.flatpickr-day.selected.nextMonthDay, 
	.flatpickr-day.startRange.nextMonthDay, 
	.flatpickr-day.endRange.nextMonthDay {
	    background: #2C786C;
	    box-shadow: none;
	    color: #fff;
	    border-color: #2C786C;
	}
}