
footer {
  background-color: #40847e;

  padding: 30px;
  margin-top: 0;
  font-size: 0.9em;
  width: 100%;
  padding-bottom: 0;
  p {
    text-align:center;
  }
}

footer-nav {
  list-style: none;
  float: left;
}

.social-icons {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-icons li {
  display: inline-block;
  margin-right: 20px;
}

footer-nav li:last-child,
social-icons li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited {
  text-decoration: none;
  border: 0;
  color: #ddd;
  font-weight: 100;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.copyright {
  color: #ddd;
  font-weight: 100;
  text-align: center;
}
.social-icons li a:link,
.social-icons li a:visited {
  font-size: 1.6em;
}

.fa-github,
.fa-twitter-square,
.fa-linkedin {
  transition: color 0.2s;
}

.fa-linkedin-in:hover{
  transform: scale(1.5)
}

.fa-twitter:hover{
  transform: scale(1.5)
}

.fa-github:hover{
  transform: scale(1.5)
}

.social-icons {
  margin-right: 30px;
}
