.subtitle1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {

  font-size: 6vw;
}

.htw-container {
  background-color: #e5e0cc;

}

.htw-card {
  background-color: #e5e0cc;

}
