// .subtitle1 {
//   text-align: center;
//   margin-top: 10px;
//   margin-bottom: 10px;
// }

// h2 {

//   font-size: 6vw;
// }

// .htw-container {
//   background-color: #e5e0cc;

// }

// .htw-card {
//   background-color: #e5e0cc;

// }

.barre {
	color: #b8dbd8;
	background-color: #b8dbd8;
	margin-top: -2.6%;
	margin-left: -5%;
	width: 43%;
}

.mission-text {
	text-align: center;
	padding-top: 20px;
	font-size: 20px;
}