.navbar-lewagon {
  // [...]
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: $beige;
}

.navbar {
	list-style: none;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  position: absolute;
  z-index: 2;
  &.transparent {
    background-color: transparent !important;
  }

  &.normal {
    background-color: $beige;
    position: sticky;
  }
}

.dropdown-toggle,
.dropdown-toggle:hover {
  color: black;
  text-decoration: none;
}

.dropdown-menu {
  border: none;
}

.nav-link,
.nav-link:hover {
  color: black;
}

.nav-list {
  font-family: $headers-font;
  a {
    color: black;
    padding-right: 20px;
    margin-left: 30px;
    padding-top: 0;
    text-decoration: none;
  }
}

.logo {
  img {
  height: 50px;
  }
}

.minus-left {
  left: -100px;
}

.dropdown-item {
  padding-left: 20px;
  border: none;
  margin-bottom: 0px;
  a {
    color: black;
    text-decoration: none;
  }
}

.dropdown-item:hover {
  padding-left: 20px;
  margin-bottom: 0px;
  background-color: $beige;
  a {
    color: black;
    text-decoration: none;
  }
}