.navbar {
	list-style: none;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  position: absolute;
  z-index: 2;

  a{
    font-family:$body-font;
  }

  &.transparent {
    background-color: transparent !important;
  }

  &.normal {
    background-color: $beige;
    position: sticky;
    z-index: 4;
    border-bottom: 1px solid #dbd4bc;
  }
}

.dropdown-toggle,
.dropdown-toggle:hover {
  color: black;
  text-decoration: none;
}

.dropdown-menu {
  border: none;
}

.nav-link,
.nav-link:hover {
  text-decoration: none;
  color: #2C786C;
  .message-icon {
    font-size: 35px !important;
  }
}

.nav-list {
  font-family: $headers-font;
  a {
    color: black;
    padding-right: 20px;
    margin-left: 30px;
    padding-top: 0;
    text-decoration: none;
    text-shadow: 2px 2px 5px white;
  }
}

.logo {
  img {
  height: 50px;
  }
}

.minus-left {
  left: -100px;
}

.dropdown-item {
  padding-left: 20px;
  border: none;
  margin-bottom: 0px;
  a {
    color: black;
    text-decoration: none;
  }
}

.dropdown-item:hover {
  padding-left: 20px;
  margin-bottom: 0px;
  background-color: $beige;
  a {
    color: black;
    text-decoration: none;
  }
}

.message-icon {
  font-size: 30px !important;
  color: #2C786C !important;
}
