


.jungle-picture {
  width: 50%;
  background-position: center;
  background-size: cover;
}

@media (max-width: 767px) {

  
  .jungle-picture {
    width: 100%;
    background-position: center;
    background-size: cover;
  }
}