.order-confirmation {
	height: 100vh;
}


.order-summary {
	background-color: white;
	border: 5px solid  #dbd4bc;
	padding: 20px;

}

.whats-next {
	background-color: none;
	text-align: center;
	p {
		font-size: 30px;
		font-weight: bold;
	}

}