.reviews{
  border-style: solid 10px;
  padding: 15px 15px 0px 15px;
  margin: 20px;
  box-shadow: 6px 6px 6px 7px #e8e2ce;

  h4{
    padding-top: 15px;
  }

  h5 {
    padding: 10px;
    font-size: 25px;
  }

  i {
    font-size: 40px;
    padding-top: 20px;
  }

  .comment{
    padding: 10px 10px;
    p {
    font-size: 18px
    }
    .qmark{
      text-align:right;
    }
  }
}

.comment-text{
  min-height: 20px;
}

.rev-name {
  text-align: right;
  padding-right: 10px;
  p {
    font-size: 20px;
  }

  i {
    font-size: 22px
  }
}

.grey{
  color: grey;
}

.modal-content {
  background-color: $beige;
  border-radius: 20px;

  h5 {
    font-size: 30px;
  }

}

.modal-body{
  width: 100%;
}
.simple_form {
  width: 100%;
}

#review_comment {
  height: 30vh;
}

#review_rating {
  width:100%;
}
