.box-title { 
  width: 100%;
  h2 {
    font-size: 5vw !important;
    z-index: 2;
    position:relative;
    width: 80%;
    padding-left: 0;
    margin-left: 12%;
  }
}

.barre {
	color: #b8dbd8;
	background-color: #b8dbd8;
  margin-top: -4.2%;
  margin-left: -10vw;
	width: 70%;
}